p {
  font-family: Lato;
}

.container-fluid{
  /*change the following to the desired height*/
  height: 65vh;
}

.row{
  height: inherit;
}

.container-fluid{
  background: blue;
}

.container{
  
  overflow-y: scroll;
  overflow-x: hidden;
  height:50%;
    -webkit-animation-name: text-appear; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: text-appear;
  animation-duration: 0.7s;
  -webkit-box-shadow: inset 4px 10px 30px -15px rgba(0,0,0,0.6);
-moz-box-shadow: inset 4px 10px 30px -15px rgba(0,0,0,0.6);
box-shadow: inset 4px 10px 30px -15px rgba(0,0,0,0.6);
}

/*if you need to add or remove a panel, you have to do some maths and rearrangements on this section.*/
#first-panel{
  width:20%;
  background: #A0CFD3;
  
}

#second-panel{
  width:20%;
    background: #8D94BA;
}

#third-panel{
  width:20%;
    background: #9A7AA0;
}

#fourth-panel{
  width:20%;
  background: #87677B;
}

.selected{
  width: 40% !important;
}

.not-selected{
  width: 20%;
}

.panel{
  -webkit-transition: width 0.2s,transform 0.4s; /* Safari */
  transition: width 0.2s,transform 0.4s,box-shadow 0.4s;

}

.hide{
  display:none;

}

.icon{
  width:200px;padding:0; margin:auto;fill:aliceblue;
    -webkit-transition: width 0.5s,padding-top 0.2s; /* Safari */
  transition: width 0.5s, padding-top 0.2s;

  padding-top: 10%;
  
}
.sm-icon{
    padding-top: 0;
  width:100px;
}

.panel:hover{
  position:relative;
  transform: scale(1.03);
  z-index:100;
  -webkit-box-shadow: 0px 10px 34px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 34px -8px rgba(0,0,0,0.75);
box-shadow: 0px 10px 34px -8px rgba(0,0,0,0.75);
}


@media screen and (max-width: 600px) {
  .title {
    font-size: 1.9em !important;
    -webkit-transition: transform 0.5s; /* Safari */
    transition: transform 0.5s;
    display: inline-block;
  }
  .rotate{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100px;
    text-align: right;
  }


}

@keyframes text-appear {
  from {opacity: 0;}
  to {opacity: 100;}
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.575); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B4EDD2; 
}